@use "../abstracts" as *;

.cities {
  margin: 8rem 0;
  background: $lightSilver-40;
  padding: 13rem 0;
  transform: skewY(-5deg);
  @include responsive(xsmall){
    margin: 4rem 0;
    padding: 6rem 0;
  }
  &__container {
    transform: skewY(5deg);
  }

  &__body {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 1rem;
    background: $white;
    border-radius: 1rem;

    &__image {
      width: 100%;
      height: 20rem;
      overflow: hidden;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: pixelated;
        transition: all .5s linear;
        &:hover {
          transform: scale(1.2);
        }
      }

      .bestselling {
        @include position(absolute, 1rem, 1rem, null, null, null, null);
        @include status($orange, $white);
      }

      .new {
        @include position(absolute, 1rem, 1rem, null, null, null, null);
        @include status($green, $white);
      }

      .hot {
        @include position(absolute, 1rem, 1rem, null, null, null, null);
        @include status($mainColor2, $white);
      }
    }

    &__contents{
      margin: 1.5rem 0 .5rem 0;
      &__top {
        @include align(flex, space-between, center, null);
        &__name{
          font-size: 1.5rem;
        }
        &__duration{
          @include align(flex,flex-end , null, null);
          &__time{
            font-size: 1.4rem;
            margin-left: .6rem;
          }
        }
      }
      &__price{
        &__dollar{
          font-size: 1.4rem;
        }
        margin-top: .5rem;
        font-size: 2rem;
        font-weight: 700;
      }
      &__facilities{
        @include align(flex,space-between , center, null);
        margin-top: .5rem;
        &__name{
          font-size: 1.5rem;
        }
      }
      &__button {
        margin-top: 1.5rem;
      }
    }
  }
}
