@use "../abstracts" as *;

.destinationInfo {
  margin: 4rem 0;
  @include responsive(xsmall){
    margin: 2rem 0;
  }
  &__p{
    margin-bottom: 4rem;
    font-size: 1.6rem;
    color: $darkSilver;
    line-height: 2.8rem;
    @include responsive(medium){
      margin-bottom: 2rem;
    }
  }
  &__details{
    @include align(flex, space-between, center, null);
    padding: 1.3rem 0;
    border-bottom: 1px dotted $lightSilver-50;
    &__head{
      font-size: 1.6rem;
      color: $darkSilver;
    }
    &__text{
      font-size: 1.6rem;
      color: $darkSilver;
    }
  }
}
