@use "../abstracts" as *;

.footer {
  width: 100%;
  margin-top: 8rem;
  padding: 8rem 0;
  @include responsive(xsmall){
    margin-top: 4rem;
    padding: 4rem 0;
  }
  &__container {
    width: 100%;
    &__block {
      background: $white;
      padding: 2rem;
    }
  }
  &__intro {
    &__img {
      width: 15rem;
      @include responsive(small){
        width: 13rem;
      }
      @include responsive(xsmall){
        width: 10rem;
      }
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    &__msg {
      margin-top: 2rem;
      font-size: 1.6rem;
      color: $lightSilver;
      width: 80%;
      font-weight: 400;
      line-height: 2.5rem;
      @include responsive(xsmall){
        width: 100%;
        font-size: 1.4rem;
      }
    }
  }
  &__heading {
    color: $black;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    margin-bottom: 2rem;
    @include responsive(xsmall){
      font-size: 1.4rem;
    }
  }
  &__ul {
    list-style: none;
    &__li {
      display: flex;
      align-items: center;
      color: $lightSilver;
      a {
        text-decoration: none;
        color: $lightSilver;
        display: block;
        padding: .5rem 0;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-right: .5rem;
      }
    }
  }
  &__bottom {
    width: 100%;
    background: linear-gradient(to right, $mainColor1, $mainColor2);
    color: $white;
    height: 5rem;
    @include align(flex, center, center, null);
    p {
      font-size: 1.5rem;
      @include responsive(xsmall){
        font-size: 1.4rem;
      }
    }

  }

}
