@use "../abstracts" as *;
.header {
  width: 100%;
  height: 70vh;
  position: relative;
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 60% 70%, 20% 71%, 0% 60%, 0 0);
  &__logo{
    @include position(absolute, 3rem, 0, null, null, null, null);
    z-index: 1;
    @include responsive(large){
      left: 5rem;
    }
    @include responsive(medium){
      left: 4rem;
    }
    @include responsive(small){
      left: 2rem;
    }
    @include responsive(xsmall){
      left: 1.5rem;
    }
    img{
      width: 15rem;
      height: auto;
      object-fit: cover;
      cursor: pointer;
      @include responsive(small){
        width: 13rem;
      }
      @include responsive(xsmall){
        width: 10rem;
      }
    }
  }
  &__video{
    img{
      width: 100%;
      height: 100%;
      image-rendering: pixelated;
      object-fit: cover;
      animation: headerImage .5s linear;
      @keyframes headerImage {
        from {
           opacity: 0;
        } to {
          opacity: 1;
                  }

      }
    }
    @include position(absolute, 0, 0, null, null, 100%, 100%);
    overflow: hidden;
    video{
        width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__contents{
    @include position(absolute, 0, 0, null, null, 100%, 100%);
   background-color:rgba(0,0,0, 0.1);
   &__text{
      @include align(flex, center, center, 70vh);
     &__child{
       &__h1{
         color: $white;
         //text-transform: uppercase;
         font-weight: 900;
         font-size: 4.2rem;
         line-height: 3rem;
         @include animation(heading, 0.8s, ease-in, -4rem, 0,.8);
         @include responsive(medium){
           font-size: 4rem; // 40px
         }
         @include responsive(small){
           font-size: 4rem; // 30px
         }
         @include responsive(xsmall){
           font-size: 4rem; // 20px
         }
       }

       &__p{
         margin-top: 1rem;
         color: $white;
         font-size: 1.5rem;
         @include animation(subHeading, 0.8s, ease-out, -6rem, 0,.8);
         @include responsive(small){
           margin-top: .5rem;
           font-size: 1.4rem;
           line-height: 2rem;
         }
       }
       &__link {
         margin-top: 1rem;
         @include align(flex, center, center, null);
         @include animation(headerButton, 0.8s, ease-in, 8rem, 0, .8);
       }
     }
   }
  }
}
