*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

html{
  // 10 / 16 * 100 = 62.5%
  font-size: 62.5%; // 10px by default
  scroll-behavior: smooth;
}

body{
  font-family: 'Fira Sans', sans-serif;
}

