// large screens (1200 / 16 -> 75em)
$lg: 75em; //  1200px
// medium screens (992 / 16 -> 62em)
$md: 62em; // 992px
// small screens (768 / 16 -> 48em)
$sm: 48em; // 768px
// extra small screens (576 / 16 -> 36em)
$xsm: 36em; // 576px
