$white: #fff;
$black: #000;
$orange: #FBBF24;
$green: #34D399;
$darkBlack: #1c1d1f;
$silver: #7f8c8d;
$lightSilver: #060303;
$darkSilver: #777;
$lightSilver-50: #d4cfcf;
$lightSilver-45: #e2e4eb;
$lightSilver-40: #f6f6fb;
$mainColor1: #ff4d58;
$mainColor2: #df2189;
