@use "../abstracts" as *;
@use "sass:math";

.row {
  display: flex;
  flex-wrap: wrap;
}

@for $i from 1 through 12 {
  .col-#{$i}{
    width: math.div(100%, 12) * $i;
    @if $i == 6 {
      @include responsive(small){
        width: 100%;

      }
    }
    @if $i == 3 {
      @include responsive(medium){
        width: math.div(100%, 12) * 4;
      }
      @include responsive(small){
        width: 50%;
      }
      @include responsive(xsmall){
        width: 100%;
      }
    }
    @if $i == 4 {
      @include responsive(medium){
        width: 50%;
      }
      @include responsive(xsmall){
        width: 100%;
      }
    }
    @if $i == 8 {
      @include responsive(medium){
        width: 100%;
      }
    }
  }
}
